.cart {
   position: relative;
   display: flex;
   flex-direction: column;
   border-radius: 16px;
   background-color: #f0f6ff;
}

.cartBody {
   display: flex;
   flex-direction: column;
   text-transform: capitalize;
   color: #394e6a;
   padding: 32px;
   gap: 8px;

   .cartContent {
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
      padding-bottom: 8px;
      border-bottom: 1px solid;
      border-color: #e2e8f4;
   }

   .cartContent:last-child {
      margin-top: 16px;
      border: none;
   }

   span:last-child {
      font-weight: 500;
   }
}
