.modal {
   --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   //    background-color: #fff;
   border-radius: 8px;
   box-shadow: var(--shadow-lg);
   padding: 32px 40px;
   transition: all 0.5s;
}

.overlay {
   position: fixed;
   top: calc(var(--header-height) + var(--navbar-height) + 6px);
   left: 32px;
   width: 100%;
   height: 100vh;
   // --backdrop-color: rgba(255, 255, 255, 0.1);
   //    background-color: var(--backdrop-color);
   //    -webkit-backdrop-filter: blur(4px);
   //    backdrop-filter: blur(4px);
   z-index: 1000;
   transition: all 0.5s;
}
